<!DOCTYPE html>
<html lang="en">
<head>
    <script data-require="angular.js@1.6.2" data-semver="1.6.2" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-resource.js"></script>

    <script src="js/app-todo.js"></script>
    <meta charset="UTF-8">
    <title>ToDo App</title>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
        table, th, td {
    border: 3px solid black;
    }

    table {
         border-collapse: collapse;
        width: 50%;
    }

    th {
         height: 50px;
    }
    </style>

</head>

<body ng-app="todo-app">

<div class="container">
    <h3><b>ToDo App</b></h3>

        <div ng-controller="mainController" ng-cloak class="ng-cloak">
            <div>
                <form name="addTodo">
                    <input type="textarea" placeholder="To Do ..." ng-model="content"  />
                    <input type="datetime" placeholder="Date: yyyy-MM-dd" ng-model="date"  />
                    <input type="submit" value="Add" ng-click="addTodos(); reloadPage()"/>&nbsp; &nbsp;
                    Done? <input type="checkbox" ng-model="done" />
                </form>
                <p>{{todo}}</p>
            </div>

            <div>
                <table>
                    <thead>
                    <tr>
                        <th> To Do </th>
                        <th> Date </th>
                        <th> Done? </th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                        <!--<tr ng-repeat="tod in todos"><form>-->
                            <!--<td>-->
                                <!--<div ng-hide="viewField">{{tod.content | uppercase}}</div>-->
                                <!--<div ng-show="modifyField"><input type="text" ng-model="tod.content" /></div>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<div ng-hide="viewField">{{tod.date}}</div>-->
                                <!--<div ng-show="modifyField"><input type="text" ng-model="tod.date" /></div>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<div ng-hide="viewField">{{tod.done}}</div>-->
                                <!--<div ng-show="modifyField"><input type="text" ng-model="tod.done" /></div>-->
                            <!--</td>-->

                            <!--<td>-->
                                <!--<button ng-hide="viewField" ng-click="modify(tod)">Edit</button>-->
                                <!--<button ng-show="modifyField" ng-click="update(tod)">Update</button>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<button ng-hide="viewField">Remove</button>-->
                            <!--</td>-->





                        <!--</form></tr>-->





                    <tr ng-repeat="tod in todos">
                        <form>
                        <td>
                            <div ng-hide="viewField">{{tod.content}}</div>
                            <div ng-show="modifyField"><input type="text" ng-model="tod.content" /></div>
                        </td>
                        <td>{{tod.date}}</td>
                        <td >
                            <div ng-hide="viewField">{{tod.done | doneUndone}}</div>
                            <div ng-show="modifyField"><input type="checkbox" value="{{tod.done}}" ng-model="tod.done" /></div>
                        </td>
                        <td style="text-align:center">
                            <input type="button" value="Edit" ng-hide="viewField" ng-click="modify(tod)" />
                            <input type="submit" value="Update" ng-show="modifyField" ng-click="editTodo(tod); reloadPage()" />
                        </td>
                        <td style="text-align:center">
                            <input type="button" value="Delete" ng-click="removeTodo(tod.id); reloadPage()" />
                        </td>
                    </form>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>
</div>

</body>
</html>