    [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
    }

    table {
         font-family: "Lato","sans-serif";
    }

    div.centered {
        text-align: center;
    }

    div.centered table {
        margin: 0 auto;
        text-align: left;
    }

    .table-todos {
        text-align: center;
         width: 10em;
        padding: 1em;
     }


    th {
        text-align: center;
        padding: 1em;
        background-color: #e8503a;
         color: white;
    }

    tr {
         height: 1em;
    }

    table tr:nth-child(even) {
        background-color: #eee;
    }

    table tr:nth-child(odd) {
        background-color:#fff;
    }

    .input-group {

        line-height: 20px;
        text-align: right;
        margin: 10 auto;
    }

    .content {
        margin-left: 20px;
        margin-right: 1em;
    }

    .btn{
        padding: 2px 8px;
    }



